.password-box .password-formfield .cpvnmn, .password-box .password-formfield .iovhzP  {
    display: inline-block;
}
.password-box .password-formfield .cpvnmn div, .password-box .password-formfield .iovhzP div {
    width: 90% !important;
    float: left;
}
.password-box .password-formfield .cpvnmn button, .password-box .password-formfield .iovhzP button {
    width: 30px !important;
    float: left;
    margin-top: 9px !important;
}
.password-box .password-formfield .cpvnmn .password-input, .password-box .password-formfield .iovhzP .password-input {
    line-height: 20px !important;
}
.password-box .password-formfield .cpvnmn .password-input:focus, .password-box .password-formfield .iovhzP .password-input:focus {
    box-shadow: none !important;
}