.password-box .password-formfield > div  {
    display: inline-block;
    position: relative;
}
.password-box .password-formfield > div > div {
    float: left;
}
.password-box .password-formfield button {
    width: 30px !important;
    margin-top: 9px !important;
    position: absolute;
    right: 8px;;
}
.password-box .password-formfield .password-input {
    line-height: 20px !important;
}
.password-box .password-formfield .password-input:focus{
    box-shadow: none !important;
}
button:focus { box-shadow: none !important; }
.posts-outer {
    height: auto !important;
    overflow-y: auto !important;
}
.drop-content-close {
    position: absolute;
    right: 10px;
    top: 10px;
}